* { 
  margin: 0;
  padding: 0; 
  font-family: Poppins, Inter;
  Font-type: Poppins, Inter
}
html{
  height: 100%;
  width: 100%;
}
body{
 width: 100%;
}
.middle{
  margin-left: 30px;
  margin-right: 30px;
}
img {
  max-width: 100%;
  height: auto;
}

/*Style the navigation bar*/
.topnav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
  padding: 10px;
  width: 100%;
  }

  .links ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
 .links li{
    display: inline;
    padding: 10px;
    font-weight: bold;
  }

  .links li a{
    color: white;
    text-align: center;
    text-decoration: none;
  }

  li a:hover{
    text-decoration: underline;
    text-decoration-color:#ED661F;
  }

  #b1{
    background-color:#ED661F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  label{
    font-weight: bold;
  }
  #Explore{
    background-color:#ED661F;
    border: none;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
  }
  
  /* background image section */

.main{
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-image: url(../images/image\ 1\ \(1\).png);
    background-size: 100% 100%;
    height: 400px;
   
  /* width: 100%;
  /* background-image:  url("../assets/images/image 1 (1).png"); */
  /* top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/image 1 (1).png);
  background-size: 100% 100%;
  height: 400px;
  background-repeat: no-repeat; */
}
.container{
  display: flex;
  justify-content: space-around;
}

#c1{
  flex: 50%;
}
#c1 h1{
  margin-top: 30px;
}
.customers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 3px 3px;
  margin-left: 20px;
  margin-right: 20px;
}
.customers p{
  margin: 10px;
  margin-top: 20px;
}

.communication{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
  }
#exist h1{
  margin-top: 20p;
  margin-bottom: 30px;

}
 
/*syle the newest items*/
.categories{
  text-align:center;
}
.categories h1{
  margin-top: 20px;
}
.categories p{
  margin-top: 20px;
}
#mp{
  margin-left: 30px;
}
.popular{
  display:flex;
  justify-content: space-around;
}
.pop{
  flex: 25%;
  margin: 40px;
  
}
#nitem{
  margin-left: 30px;
}
.Newest{
  display:flex;
  justify-content: space-around;
}
.new{
  flex: 25%;
  margin: 40px;
}
.see{
  float:right;
  margin-bottom: 20px;
}
#sec{
    display: block;
    border-width: 8px;
    background-color: grey;
    width: 100%;
  }
#este{
  margin-top: 30px;
  margin-left: 30px;
}
/*style the ratings*/
.Ratings{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.checked {
  color:#ED661F;
}
.person{
  flex: 33.33%;
  margin: 60px;
}
/*style the footer*/
.footer{
  background-color: black;
  color: white;
  margin-top: 30px;
  line-height: 2;
}
.Subscribe{
  background-color: black;
  color: white;

}

#text{
  margin-top: 60px;
  padding-top: 40px;
  text-align: center;
}
#text form{ 
  margin-top: 20px;
  font-weight: bold;
}
span{
  text-align: center;
 
}
#email{
  background-color: white;
  padding: 10px;
  font-weight: bold;
 
}
#submit{
  background-color: #ED661F;
  padding: 10px;
  font-weight: bold;
}

#desc{
  display: flex;
  justify-content: space-around;
}
#sec2{
  display: block;
  border-width: 3px;
  background-color: white;
  width: 100%;
  margin-top: 50px;
}
.contact{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin-top: 10px;
}
.end{
  flex: 25%;
  margin: 20px;
}

#terms{
  margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    }
  

 