* { 
  margin: 0;
  padding: 0; 
}
html{
  height: 100%;
  width: 100%;
}
body{
 width: 100%;
}
.middle{
  margin-left: 30px;
  margin-right: 30px;
}
img {
  max-width: 100%;
  height: auto;
}
#Explore{
  background-color:#ED661F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*Style the navigation bar*/
.topnav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
  padding: 10px;
  width: 100%;
  }

  .links ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
 .links li{
    display: inline;
    padding: 10px;
    font-weight: bold;
  }

  .links li a{
    color: white;
    text-align: center;
    text-decoration: none;
  }

  li a:hover{
    text-decoration: underline;
    text-decoration-color:#ED661F;
  }

  .btn{
    background-color: #ED661F;
    padding: 10px;
  }
  /* background image section */

.main{
  width: 100%;
  height: auto;
  background-image: url("/assets/images/image 1 (1).png");
}

.container{
  display: flex;
  justify-content: space-around;
}

c1{
  flex: 50%;
}
.customers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 3px 3px;
}
.customers p{
  margin: 10px;
}

.communication{
    display: flex;
    justify-content: space-around;
  }

 
/*syle the newest items*/
.categories{
  text-align:center;
}

.popular{
  display:flex;
  justify-content: space-around;
}
.pop{
  flex: 25%;
  margin: 40px;
  
}
.Newest{
  display:flex;
  justify-content: space-around;
}
.new{
  flex: 25%;
  margin: 40px;
}
.see{
  float:right;
}
/*style the ratings*/
.Ratings{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.checked {
  color:#ED661F;
}
.person{
  flex: 33.33%;
  margin: 60px;
}
/*style the footer*/
.footer{
  background-color: black;
  color: white;
  margin-top: 30px;
}
.Subscribe{
  background-color: black;
  color: white;

}

#text{
  margin-top: 60px;
  padding-top: 40px;
  text-align: center;
}
span{
  text-align: center;
}
#email{
  background-color: white;
}
#submit{
  background-color: #ED661F;
}

#desc{
  display: flex;
  justify-content: space-around;
}
.contact{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin-top: 10px;
}
.end{
  flex: 25%;
  margin: 20px;
}

.end ul{

}
#terms{
  margin-top: 20px;
    text-align: center;
    }
  

 